.footer{
	margin-top: 100px; /* Push footer to the bottom when content is short */
	padding: 0x 0px;
	background: #f1491b;
	text-align: center;
	color: #fff !important; /* Ensure text is readable */
}

.footer p {
    font-size: 14px;
    margin: 0;
	color: #fff !important; /* Ensure text is readable */
}

.footer-widget{

	a{
		color: rgba(255, 255, 255, 0.938);
		text-transform: capitalize;
		&:hover{
			color: $primary-color;
		}
	}
}
	

.small-footer {
    padding: 20px 0; /* Reduce height further */
}

/* Remove unwanted padding/margin below the footer */
.footer::after {
    display: none;
}