// Color Variables
$white: #fff;
$black: #000;
$border-color: #dedede;
$heading-font:'Work Sans', sans-serif;
$body-font:'Roboto', sans-serif;
$montserrat-font: "Montserrat", serif;
$roboto-font: 'Roboto', sans-serif;
$lato-font:'Lato', sans-serif;
$extra-color:#e8eefb;
$primary-color:#f44336;
$secondary-color:#f7f7f7;